
img{
    max-width: 600px;
    max-height: 600px;
    
}

ul{ 
    display: inline-block; 
	text-align: left; 
    list-style-position: inside;
}

ol{
    display: inline-block; 
	text-align: left; 
    list-style-position:inside;
}
body{
    height:100%; width: 100%; min-height: 100%;
    margin-left: 0%;
    padding-bottom: 0;
    text-align:center;
}

.header1{
    font-size: 30px; font-family: "Lucida Sans"; 
    background-color: bisque;
    margin-bottom: -1%;
    padding-bottom: 25%;
    padding-top: 1%;
    margin-top: -2%;
}
.header2{
    background-color: aqua; overflow: visible;
    padding-top: 10%;
    font-size: 20px;
    margin-top: -10%;
    font-family: "Gill Sans";  
   
}

.header3{
    font-size: 20px; font-family: "Courier New"; 
    background-color: gainsboro;
    margin-top: -1%;
    padding-top: 1%;
    
}

.header4{
    font-size: 20px; font-family: Verdana; 
    background-color: khaki;
    margin-top:-5%;
    padding-top: 5%;
}

.header5{
    font-size: 20px; font-family: Helvetica, sans-serif;
    padding-top: 5%;
    margin-top: -4%;
    background-color: blueviolet;
}